.mediaPlayer {
    height: 73px;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px #CCCDDF;
    background: #EEEEF8;
    z-index: 1000;
    width: 100%;
    /* margin: 0px 0px 15px 0px; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
}


.bg-progress {
    background: #CDCFE6;
    margin: 5px 0px 5px 0px;
    box-shadow: inset 0 0 2px #00000061;
    -moz-box-shadow: inset 0 0 2px #00000061;
    -webkit-box-shadow: inset 0 0 2px #00000061;
    -o-box-shadow: inset 0 0 2px #00000061;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12); */
    height:3px;
}

.bg-progress-volume {
    width: 90%;
    height:3px;
    background: #CDCFE6;
    margin: 9.5px;
}

.bg-bar {
    background: #66576e;
}
.media-custom {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
}

.media-btn {
    border: 0px;
    padding:6px 5px 0px 5px;
    margin: 0px 15px 0px 15px;
    height: auto;
    background:#00000000;
    color: #505050;
}

.media-icon {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font-size: 28px !important;
}

.custom-h { line-height: 0.99; font-size: 11px}
.col-custom { padding: 0px 0px 0px 6px; margin: 0px 0px 0px 6px;}
.col-volume { padding: 6px 5px 0px 5px; }
.songtitle {
    font-weight: 600;
    display: block;
    padding-top: 5px;
    padding-bottom:2px;
    font-size: 13px;
}

.songartist {
    font-weight: 400;
    font-size: 10px;
}

.mediaPlayerMobile {
    position: fixed;
    z-index: 5;
    width: 100%;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    max-height: 500px;
    z-index:900;
    overflow: auto;
    min-height: 500px; /* approximate max height */
    background: #e9e9f7;
    transition-property: all;
    transition-duration: .8s;
    transition-timing-function: ease-out;
  }

  .slider.active {
    border-bottom: solid 1px #d7d8ee;
  }
  
  .slider.closed {
      min-height: 0;
  }

@media (max-width: 763px) {
    .slider {
        margin-top: 73px;
        position: fixed;
    }
}

@media (max-width: 414px) {
    .media-btn {
        margin: 0px 5px 0px 5px !important; 
    }

}

@media (max-width: 375px) {
    .media-btn {
        margin: 0px 5px 0px 5px !important; 
    }
}

@media (max-width: 320px) {
    .media-btn {
        margin: 0px 0px 0px 0px !important; 
    }
}

